<a href="https://colab.research.google.com/github/Dannap77/Talento-tech/blob/Talento-tec/Taller_Iniciaci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importar libreria para manipulacion de datos
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
#leer archivo en formato de excel
df_ventas = pd.read_excel("/example_ventas.xlsx")

/usr/local/lib/python3.10/dist-packages/openpyxl/worksheet/_reader.py:329: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [10]:
df_ventas

                  Fecha   Region      Producto Vendedor  Ventas
0   2024-02-16 00:00:00    Oeste      Sistemas    Kevin   32855
1   2024-02-05 00:00:00  Central      Sistemas    Karen   30633
2   2024-02-17 00:00:00    Oeste      Sistemas     Sara   23151
3   2024-02-04 00:00:00  Central      Sistemas    David   20098
4   2024-02-10 00:00:00     Este      Sistemas      Ana   13531
5   2024-02-11 00:00:00     Este      Sistemas    Lucas   13374
6   2024-02-03 00:00:00  Central  Dispositivos    Karen   12948
7   2024-02-02 00:00:00  Central  Dispositivos    David   11420
8   2024-02-14 00:00:00    Oeste  Dispositivos    Kevin   10711
9   2024-02-08 00:00:00     Este  Dispositivos      Ana   10348
10  2024-02-06 00:00:00     Este    Accesorios      Ana    9323
11  2024-02-09 00:00:00     Este  Dispositivos    Lucas    9312
12  2024-02-15 00:00:00    Oeste  Dispositivos     Sara    8780
13  2024-01-31 00:00:00  Central    Accesorios    David    8287
14  2024-02-07 00:00:00     Este    Accesorios    Lucas    7667
15  2024-02-01 00:00:00  Central    Accesorios    Karen    6909
16  2024-02-13 00:00:00    Oeste    Accesorios     Sara    5442
17  2024-02-12 00:00:00    Oeste    Accesorios    Kevin    4744
18                Total      NaN           NaN      NaN  239533

In [11]:
print("Ejercicio 1: Mostrar las primeras filas del DataFrame")
print(df_ventas.head(5))

Ejercicio 1: Mostrar las primeras filas del DataFrame
                 Fecha   Region  Producto Vendedor  Ventas
0  2024-02-16 00:00:00    Oeste  Sistemas    Kevin   32855
1  2024-02-05 00:00:00  Central  Sistemas    Karen   30633
2  2024-02-17 00:00:00    Oeste  Sistemas     Sara   23151
3  2024-02-04 00:00:00  Central  Sistemas    David   20098
4  2024-02-10 00:00:00     Este  Sistemas      Ana   13531

In [12]:
print("Ejercicio 2: Calcular el total de ventas por región")
ventas_por_region = df_ventas.groupby('Region')['Ventas'].sum()
print(ventas_por_region)
print("\n")
print(df_ventas.head(10))

Ejercicio 2: Calcular el total de ventas por región
Region
Central    90295
Este       63555
Oeste      85683
Name: Ventas, dtype: int64


                 Fecha   Region      Producto Vendedor  Ventas
0  2024-02-16 00:00:00    Oeste      Sistemas    Kevin   32855
1  2024-02-05 00:00:00  Central      Sistemas    Karen   30633
2  2024-02-17 00:00:00    Oeste      Sistemas     Sara   23151
3  2024-02-04 00:00:00  Central      Sistemas    David   20098
4  2024-02-10 00:00:00     Este      Sistemas      Ana   13531
5  2024-02-11 00:00:00     Este      Sistemas    Lucas   13374
6  2024-02-03 00:00:00  Central  Dispositivos    Karen   12948
7  2024-02-02 00:00:00  Central  Dispositivos    David   11420
8  2024-02-14 00:00:00    Oeste  Dispositivos    Kevin   10711
9  2024-02-08 00:00:00     Este  Dispositivos      Ana   10348

In [13]:
print("Ejercicio 3: Filtrar el DataFrame para mostrar solo las ventas realizadas por David")
ventas_david = df_ventas[df_ventas['Vendedor'] == 'David']
print(ventas_david)

Ejercicio 3: Filtrar el DataFrame para mostrar solo las ventas realizadas por David
                  Fecha   Region      Producto Vendedor  Ventas
3   2024-02-04 00:00:00  Central      Sistemas    David   20098
7   2024-02-02 00:00:00  Central  Dispositivos    David   11420
13  2024-01-31 00:00:00  Central    Accesorios    David    8287

In [15]:
print("Ejercicio 4: Calcular el promedio de ventas por región")
ventas_por_producto = df_ventas.groupby('Region')['Ventas'].mean()
print(ventas_por_producto)

Ejercicio 4: Calcular el promedio de ventas por región
Region
Central    15049.166667
Este       10592.500000
Oeste      14280.500000
Name: Ventas, dtype: float64

In [16]:
print("Ejercicio 5: Calcular el promedio de ventas por región con dos decimales")
ventas_por_producto = df_ventas.groupby('Region')['Ventas'].mean().round(2)
print(ventas_por_producto)

Ejercicio 5: Calcular el promedio de ventas por región con dos decimales
Region
Central    15049.17
Este       10592.50
Oeste      14280.50
Name: Ventas, dtype: float64

In [18]:
print("Ejercicio 6: Ordenar el DataFrame por ventas en orden descendente")
df_ordenado = df_ventas.sort_values(by='Ventas', ascending=False)
print(df_ordenado)

Ejercicio 6: Ordenar el DataFrame por ventas en orden descendente
                  Fecha   Region      Producto Vendedor  Ventas
18                Total      NaN           NaN      NaN  239533
0   2024-02-16 00:00:00    Oeste      Sistemas    Kevin   32855
1   2024-02-05 00:00:00  Central      Sistemas    Karen   30633
2   2024-02-17 00:00:00    Oeste      Sistemas     Sara   23151
3   2024-02-04 00:00:00  Central      Sistemas    David   20098
4   2024-02-10 00:00:00     Este      Sistemas      Ana   13531
5   2024-02-11 00:00:00     Este      Sistemas    Lucas   13374
6   2024-02-03 00:00:00  Central  Dispositivos    Karen   12948
7   2024-02-02 00:00:00  Central  Dispositivos    David   11420
8   2024-02-14 00:00:00    Oeste  Dispositivos    Kevin   10711
9   2024-02-08 00:00:00     Este  Dispositivos      Ana   10348
10  2024-02-06 00:00:00     Este    Accesorios      Ana    9323
11  2024-02-09 00:00:00     Este  Dispositivos    Lucas    9312
12  2024-02-15 00:00:00    Oeste  Dispositivos     Sara    8780
13  2024-01-31 00:00:00  Central    Accesorios    David    8287
14  2024-02-07 00:00:00     Este    Accesorios    Lucas    7667
15  2024-02-01 00:00:00  Central    Accesorios    Karen    6909
16  2024-02-13 00:00:00    Oeste    Accesorios     Sara    5442
17  2024-02-12 00:00:00    Oeste    Accesorios    Kevin    4744

In [19]:
print("Ejercicio 7: Filtrar las filas con ventas mayores a 10000")
df_filtrado = df_ventas[df_ventas['Ventas'] > 10000].sort_values(by='Ventas', ascending=True)
print(df_filtrado)
print("\n")

Ejercicio 7: Filtrar las filas con ventas mayores a 10000
                  Fecha   Region      Producto Vendedor  Ventas
9   2024-02-08 00:00:00     Este  Dispositivos      Ana   10348
8   2024-02-14 00:00:00    Oeste  Dispositivos    Kevin   10711
7   2024-02-02 00:00:00  Central  Dispositivos    David   11420
6   2024-02-03 00:00:00  Central  Dispositivos    Karen   12948
5   2024-02-11 00:00:00     Este      Sistemas    Lucas   13374
4   2024-02-10 00:00:00     Este      Sistemas      Ana   13531
3   2024-02-04 00:00:00  Central      Sistemas    David   20098
2   2024-02-17 00:00:00    Oeste      Sistemas     Sara   23151
1   2024-02-05 00:00:00  Central      Sistemas    Karen   30633
0   2024-02-16 00:00:00    Oeste      Sistemas    Kevin   32855
18                Total      NaN           NaN      NaN  239533

In [20]:
print("Ejercicio 8: Ordenar el DataFrame por ventas en orden descendente")
df_ordenado = df_ventas.sort_values(by='Ventas', ascending=False)
print(df_ordenado)
print("\n")

Ejercicio 8: Ordenar el DataFrame por ventas en orden descendente
                  Fecha   Region      Producto Vendedor  Ventas
18                Total      NaN           NaN      NaN  239533
0   2024-02-16 00:00:00    Oeste      Sistemas    Kevin   32855
1   2024-02-05 00:00:00  Central      Sistemas    Karen   30633
2   2024-02-17 00:00:00    Oeste      Sistemas     Sara   23151
3   2024-02-04 00:00:00  Central      Sistemas    David   20098
4   2024-02-10 00:00:00     Este      Sistemas      Ana   13531
5   2024-02-11 00:00:00     Este      Sistemas    Lucas   13374
6   2024-02-03 00:00:00  Central  Dispositivos    Karen   12948
7   2024-02-02 00:00:00  Central  Dispositivos    David   11420
8   2024-02-14 00:00:00    Oeste  Dispositivos    Kevin   10711
9   2024-02-08 00:00:00     Este  Dispositivos      Ana   10348
10  2024-02-06 00:00:00     Este    Accesorios      Ana    9323
11  2024-02-09 00:00:00     Este  Dispositivos    Lucas    9312
12  2024-02-15 00:00:00    Oeste  Dispositivos     Sara    8780
13  2024-01-31 00:00:00  Central    Accesorios    David    8287
14  2024-02-07 00:00:00     Este    Accesorios    Lucas    7667
15  2024-02-01 00:00:00  Central    Accesorios    Karen    6909
16  2024-02-13 00:00:00    Oeste    Accesorios     Sara    5442
17  2024-02-12 00:00:00    Oeste    Accesorios    Kevin    4744

In [21]:
print("Ejercicio 9: Eliminar la columna 'Vendedor'")
df_sin_vendedor = df_ventas.drop(columns=['Vendedor'])
print(df_sin_vendedor)
print("\n")

Ejercicio 9: Eliminar la columna 'Vendedor'
                  Fecha   Region      Producto  Ventas
0   2024-02-16 00:00:00    Oeste      Sistemas   32855
1   2024-02-05 00:00:00  Central      Sistemas   30633
2   2024-02-17 00:00:00    Oeste      Sistemas   23151
3   2024-02-04 00:00:00  Central      Sistemas   20098
4   2024-02-10 00:00:00     Este      Sistemas   13531
5   2024-02-11 00:00:00     Este      Sistemas   13374
6   2024-02-03 00:00:00  Central  Dispositivos   12948
7   2024-02-02 00:00:00  Central  Dispositivos   11420
8   2024-02-14 00:00:00    Oeste  Dispositivos   10711
9   2024-02-08 00:00:00     Este  Dispositivos   10348
10  2024-02-06 00:00:00     Este    Accesorios    9323
11  2024-02-09 00:00:00     Este  Dispositivos    9312
12  2024-02-15 00:00:00    Oeste  Dispositivos    8780
13  2024-01-31 00:00:00  Central    Accesorios    8287
14  2024-02-07 00:00:00     Este    Accesorios    7667
15  2024-02-01 00:00:00  Central    Accesorios    6909
16  2024-02-13 00:00:00    Oeste    Accesorios    5442
17  2024-02-12 00:00:00    Oeste    Accesorios    4744
18                Total      NaN           NaN  239533